html 

    head 

        title 

    body
    
    table.table.table-striped
      tr
        th id
        th Name
     

      each n in data
        tr
          td= n.name

script.
  console.log(data);


    

  