block login
    form(id="login" action="/registrarmatricula" method="post")
        input(type="text", name="curso", value="", placeholder="curso")
        br
        input(type="text", name="alumno", value="", placeholder="alumno")
        br
        input(type="submit" value="Enviar")